
<h1>Car</h1>

<div class="container">

    <div class="alert alert-warning" *ngIf="carForm.dirty && carForm.invalid">Enter valid values</div>

    <form (ngSubmit)="!carForm.invalid && saveCar()" #carForm="ngForm">
        <fieldset class="form-group">
            <label>Model</label>
            <input type ="text" #model ="ngModel" 
            [(ngModel)] ="car.model" class ="form-control" 
            name="model" required="required">
        </fieldset>
        
        <fieldset class="form-group">
            <label>Type</label>
            <input type ="text" #bodyType ="ngModel" 
            [(ngModel)] ="car.bodyType" class ="form-control" 
            name="bodyType" required="required">
        </fieldset>
        
        <fieldset class="form-group">
            <label>Color</label>
            <input type ="text" #color ="ngModel" 
            [(ngModel)] ="car.color" class ="form-control" 
            name="color" required="required">
        </fieldset>

        <fieldset class="form-group">
            <label>Year</label>
            <input type ="number" #year ="ngModel" 
            [(ngModel)] ="car.year" class ="form-control" 
            name="year" required="required">
        </fieldset>

        <fieldset class="form-group">
            <label>Mileage</label>
            <input type ="number" #mileage ="ngModel" 
            [(ngModel)] ="car.mileage" class ="form-control" 
            name="mileage" required="required">
        </fieldset>

       
        <button type="submit" class="btn btn-success">Save</button>
    </form>

</div>

