<div class="example-container middle" *ngIf="isComponentReady">
    <mat-card class="p-0">
      <mat-card-title class="">
        <div class="card-title-text">
          Car
        </div>
        <mat-divider></mat-divider>
      </mat-card-title>
      <mat-card-content>
        <form
          accessibleForm
          [formGroup]="carForm"
          class="hd-form"
          (ngSubmit)="carForm.valid && actionSave()"
        >
          <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
              <div class="form-row">
                <mat-form-field class="full-width">
                  <input 
                    matInput
                    formControlName="model"
                    placeholder="model"                  
                    required/>
                    <mat-error *ngIf="carForm.get('model').hasError('required')" >please enter your name</mat-error>
                </mat-form-field>
              </div>
              <div class="form-row">
                <mat-form-field class="full-width">
                  <input
                    matInput
                    formControlName="color"
                    placeholder="color"
                    minlength="6"
                    maxlength="20"
                    required
                  />
                  <mat-error *ngIf="carForm.get('color').hasError('required')" >please enter your color</mat-error>
                  <mat-error *ngIf="carForm.get('color').hasError('minlength')" >your color should between 4-9 character</mat-error>
                  <mat-error *ngIf="carForm.get('color').hasError('maxlength')" >your color should between 4-9 character</mat-error>           
                </mat-form-field>
              </div>
              <div class="form-row">
                <mat-form-field class="full-width">
                  <input
                    matInput
                    formControlName="bodyType"
                    placeholder="bodyType"
                    minlength="6"
                    maxlength="20"
                    required
                  />
                  <mat-error *ngIf="carForm.get('bodyType').hasError('required')" >please enter your last name</mat-error>
                </mat-form-field>
              </div>             
            </div>
          </div>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <div fxFlex="100" class="mt-1">
              <button
                mat-raised-button
                type="submit"
                animatedButton
                color="primary"
              >
                {{ (car.id ? 'Update' : 'Save') }}
              </button>
              <button
                mat-button
                color="warn"
                animatedButton
                type="button"
                routerLink="/cars"
              >
                {{'Cancel'}}
              </button>
            </div>
          </mat-card-actions>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  