

<div class="example-container middle">
   
    <div class="example-table-container">

        

        <mat-grid-list cols="2" rowHeight="500px">
            <mat-grid-tile *ngFor="let item of dataSource" [style.background]="lightblue" 
                style="width:100%;height:90vh"
                class="ag-theme-balham"
                [gridOptions]="gridOptions"
                [columnDefs]="columnDefs"
                (gridReady)="onGridReady($event)">


                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>{{item.model}}</mat-card-title>
                      <mat-card-subtitle>{{item.bodyType}}  /  {{item.year}}</mat-card-subtitle>
                    </mat-card-header>
                    <img [src]="transform(item.photo)" height="300" width="470">
                    <mat-card-content>
                      <p>
                        Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum 
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="updateCar(item.id)"><mat-icon>edit</mat-icon></button>
                        <button mat-icon-button mat-sm-button color="warn" (click)="deleteCar(item.id)"><mat-icon>delete</mat-icon></button>          
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Actions</mat-header-cell>
                    </mat-card-actions>
                  </mat-card>  
            </mat-grid-tile>
          </mat-grid-list>





        <!--<mat-table #table [dataSource]="dataSource" matSort aria-label="Elements" [class.isMobile]="isMobile">
            <ng-container matColumnDef="model">
                <mat-header-cell *matHeaderCellDef>Model</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <span class="mobile-label"></span>
                    <div style="padding: 5px;">
                        {{row.model}}
                    </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="bodyType">
                <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <span class="mobile-label"></span>
                    <div style="padding: 5px;">
                        {{row.bodyType}}
                    </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="year">
                <mat-header-cell *matHeaderCellDef>Year</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <span class="mobile-label"></span>
                    <div style="padding: 5px;">
                        {{row.year}}
                    </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="photo">
                <mat-header-cell *matHeaderCellDef>Photo</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <span class="mobile-label"></span>
                    <div style="padding: 5px;">
                        <img [src]="transform(row.photo)">
                    </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Actions</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="updateCar(row.id)"><mat-icon>edit</mat-icon></button>
                    <button mat-icon-button mat-sm-button color="warn" (click)="deleteCar(row.id)"><mat-icon>delete</mat-icon></button>          
                  </mat-cell>
            </ng-container>   
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>-->
    </div>
        <mat-paginator #paginator
        [length]="resultsLength"
        [pageSize]="pageSize">
        </mat-paginator>
        <button mat-button color="warn" size="bold"(click) ="addCar()">Add</button>
         
</div>






<!--

<h4>List Of Cars</h4> 

<div class="alert alert-success" *ngIf='message'>{{message}}</div>

<div class="container">
<table class="table">
<thead>
    <tr>
        <th>Id</th>
        <th>Model</th>
        <th>Type</th>
        <th>Mileage</th>
        <th>Update</th>
        <th>Delete</th>
        
    </tr>
</thead>
<tbody>
    <tr *ngFor = " let car of cars">
        <td>{{car.id}}</td>
        <td>{{car.model}}</td>
        <td>{{car.bodyType}}</td>
        <td>{{car.mileage}}</td>
        <td><button (click) ="updateCar(car.id)" class = "btn btn-success">Update</button></td>
        <td><button (click) ="deleteCar(car.id)" class = "btn btn-warning">Delete</button></td>
    </tr>
</tbody>
</table>
<div class="row">
    <button (click) ="addCar()" class = "btn btn-success">Add</button>
</div>
</div>
-->