
<div class="example-container middle" *ngIf="isComponentReady">
  <mat-card class="p-0">
    <mat-card-title class="">
      <div class="card-title-text" >
        Search
      </div>
      <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content >
      <form
        accessibleForm
        [formGroup]="searchForm"
        class="hd-form"
        (ngSubmit)="searchForm.valid && actionSave()"
      >
        <div fxLayout="row wrap">
          <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">

            <div class="form-row">
              <mat-form-field appearance="outline">
                <mat-label translate>Office</mat-label>
                <mat-select
                  placeholder="Office"
                  formControlName="office"
                  required
                >
                  <mat-option
                    *ngFor="let office of dataSourceOffice"
                    [value]="office"
                  >
                    {{ office.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-row">

              <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker"
                formControlName="checkInDate"
                required
                >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker [dateClass]="dateClass" #picker [startAt]="startDate"></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="pickerCheckOut"
                formControlName="checkOutDate"
                required
                >
                <mat-datepicker-toggle matSuffix [for]="pickerCheckOut"></mat-datepicker-toggle>
                <mat-datepicker #pickerCheckOut  [dateClass]="dateClass" [startAt]="booking.checkInDate"></mat-datepicker>
              </mat-form-field>
            </div>
            
          </div>
        </div>
      </form>
        </mat-card-content>
    <button mat-button type="submit" color="accent" (click)="search()">Search</button>
  </mat-card>
</div>